footer {
    background-color: $grey;
    padding: .1rem 0;

    ul {
        padding: 1rem 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto 0 auto;
        text-align: center;
        color: $white;        
        li {
            margin: auto;   
            font-family: "Montserrat", serif;
                     
        }
    }
}
footer ul li:last-of-type{
    width: 90%;
}

  