// _header.scss

// headerLOGO

#headerContainer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}


header:first-of-type{
    background-color: $grey;
    margin: 0;
    padding: .3rem 0;    
}
.headerLogoContainer{    
    scale: .9;    
    .headerLogo{
        position: relative;
        width: fit-content;
        display: flex; 
        align-items: center; 
        margin: 0;
        div{
            position: absolute;
            left: 80%;
            top: 20%;  
            img {
                margin: 0; 
                height: auto; 
                width: auto; 
            }      
        }
    }
}


// HOME
#home{
    color: $green;
    text-decoration: underline;
    font-weight: 400;
}
#home:hover{
    background-color: transparent;
    opacity: 1;
}
// SONGS

// ARTISTS

// LOG IN
