@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Anuphan:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
#headerContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header:first-of-type {
  background-color: #232323;
  margin: 0;
  padding: 0.3rem 0;
}

.headerLogoContainer {
  scale: 0.9;
}
.headerLogoContainer .headerLogo {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0;
}
.headerLogoContainer .headerLogo div {
  position: absolute;
  left: 80%;
  top: 20%;
}
.headerLogoContainer .headerLogo div img {
  margin: 0;
  height: auto;
  width: auto;
}

#home {
  color: #43BD2B;
  text-decoration: underline;
  font-weight: 400;
}

#home:hover {
  background-color: transparent;
  opacity: 1;
}

.topNav {
  margin: auto 0;
}
.topNav ul {
  display: flex;
  list-style: none;
  padding: 0;
  width: -moz-fit-content;
  width: fit-content;
}
.topNav li a {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 1rem;
  font-family: "Anuphan", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 200;
  color: #ffffff;
  font-size: 1.8rem;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  transition: 300ms ease;
}

.topNav ul li a:hover {
  opacity: 0.7;
  background-color: #333;
}

.topNav ul li a:active {
  color: #43BD2B;
  text-decoration: underline;
}

body {
  margin: 0;
  background-color: #131313;
}

main {
  font-family: "Montserrat", serif;
  font-weight: 900;
}

.velkomst {
  background-color: #232323;
  width: 90%;
  margin: 3.25rem auto;
  border-radius: 12px;
  padding: 2.5rem 0;
}
.velkomst p {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.velkomst hgroup h2 {
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 1.6rem;
  text-align: center;
  margin: 0 0 0.5rem 0;
  text-transform: uppercase;
}
.velkomst hgroup h2 span {
  font-size: 2rem;
}
.velkomst ul {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0.5rem auto 0 auto;
}
.velkomst ul li {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.25rem 0.5rem;
}
.velkomst ul li a {
  font-weight: 700;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  border-radius: 6px;
  line-height: 1.62rem;
}

.velkomst ul li a:hover {
  transition: 300ms ease;
  opacity: 0.7;
  background-color: #333;
}

.randomSongsContainer {
  width: 60%;
  margin: 0 auto;
}
.randomSongsContainer h2 {
  color: #ffffff;
  font-size: 1.6rem;
  margin: 3rem 0 0 0;
}

#fiveSongs {
  margin: 0;
}

#fiveSongsHeader {
  font-weight: 400;
}

#fiveSongsHeader span {
  font-weight: 700;
}

.randomSongs {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.randomSongs ol {
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 0;
  padding: 0;
  margin: 0;
}
.randomSongs ol li {
  background-color: #43BD2B;
  border-radius: 14px;
  margin: 1rem 0;
  padding: 0.75rem 0.5rem;
  color: #ffffff;
  font-weight: 600;
}

#thicc {
  font-weight: 600;
  margin-top: 2rem;
}

.searchContainer {
  margin: 5rem auto;
  width: 70%;
}

.search {
  background-color: white;
  border-radius: 18px;
  width: 503px;
  height: 51px;
  display: flex;
  position: relative;
  padding: 0;
}
.search input {
  border: none;
  background-color: transparent;
  margin: 0 0 0 4rem;
  padding: 0;
  height: 100%;
  width: 420px;
  font-size: 1.4rem;
}
.search input:focus {
  outline: none;
}
.search div {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 32px;
  height: 32px;
  left: 1rem;
  top: 0.65rem;
  bottom: 0;
}
.search div img {
  width: 100%;
  height: auto;
  pointer-events: none;
}

#searchResults {
  width: 80%;
  pointer-events: none;
}

#songs {
  font-weight: 600;
  font-size: 1.3rem;
  background-color: #ffffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 1rem;
  border-radius: 12px;
  position: absolute;
  top: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  display: none;
  /* Skjul som standard */
}
#songs li {
  color: #232323;
  font-weight: 600;
  text-align: left;
}

#songs li::first-letter {
  text-transform: uppercase;
}

#songDetails {
  width: 90%;
  margin: 0 auto;
}
#songDetails #titleAndPrint {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
#songDetails #titleAndPrint #songTitle {
  color: #ffffff;
  font-size: 1.8rem;
  margin: auto 0;
}
#songDetails #titleAndPrint #songTitle::first-letter {
  text-transform: uppercase;
  font-size: 2rem;
}
#songDetails #titleAndPrint #printButton {
  background-color: #43BD2B;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.5rem;
  color: #ffffff;
  border-radius: 16px;
  padding: 0.5rem 4rem;
  margin: auto 0;
  border: none;
  cursor: pointer;
}
#songDetails #artistName {
  margin: 0.5rem 0;
  color: #ffffff;
  font-weight: 600;
}

#lyricsSection {
  color: #ffffff;
  width: 90%;
  margin: 4rem auto;
}
#lyricsAboutContainer {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 90%;
  margin: 2rem auto;
}
#lyricsAboutContainer #lyricsSection {
  width: 80%;
}
#lyricsAboutContainer #lyricsSection #lyricsContent {
  width: 90%;
  margin: 0 auto 0 0;
  text-align: left;
  font-weight: 400;
  font-size: 1.3rem;
}
#lyricsAboutContainer #aboutSong {
  max-width: 20%;
}
#lyricsAboutContainer #aboutSong p {
  font-size: 1.2rem;
  text-align: left;
  margin: 0 auto 0 0;
}

#createdAt {
  width: 90%;
  margin: 0 auto;
}
#createdAt p {
  text-align: left;
  margin: 0 auto 0 0;
  font-size: 1.2rem;
  font-weight: 300;
}

footer {
  background-color: #232323;
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.1rem;
}
footer ul {
  padding: 1rem 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  color: #ffffff;
}
footer ul li {
  margin: auto;
  font-family: "Montserrat", serif;
}

footer ul li:last-of-type {
  width: 90%;
}/*# sourceMappingURL=main.css.map */